.active-nav
{
    border-bottom: 4px solid white;
    /* font-weight: bold; */
}

html, body, #root, .App
{
    /* height: 100%; */
    background-color: black;
}

.App
{
    background-color: black;
}